
metalslug/Debug/Background.obj
*.obj
*.obj
*.obj
.vs/metalslug/v16/.suo
*.db
.vs/metalslug/v16/.suo
*.db-shm
*.db-wal
*.opendb
*.ipch
*.ipch
*.ilk
*.pdb
*.tlog
metalslug/Debug/metalslug.tlog/metalslug.lastbuildstate
metalslug/Debug/metalslug.tlog/rc.command.1.tlog
metalslug/Debug/metalslug.tlog/rc.read.1.tlog
metalslug/Debug/metalslug.tlog/rc.write.1.tlog
metalslug/Debug/vc142.idb
metalslug/Debug/vc142.pdb
metalslug/Mainfrm.cpp
metalslug/metalslug.aps
metalslug/metalslug.rc
